<h3>Change Password</h3>
<form ng-show="hashMatches" ng-submit="changePassword(account)">
	<label>Mail: </label>
	<br />
	<input ng-model="account.email" type="email" />
	<br />
	<label>Pass: </label>
	<br />
	<input ng-model="account.password" type="password" />
	<br />
	<label>New Password: </label>
	<br />
	<input ng-model="account.newPassword" type="password" />
	<br />
	<label>Confirm Password: </label>
	<br />
	<input ng-model="account.confirmPassword" type="password" />
	<br />
	<input type="submit" value="Reset Password" />
</form>

<p ng-show="hashDoesNotMatch">Please check your email link and try again.</p>